<div class="cv__intro">

  <h3>Personal Profile</h3>

  <p>Hi! I am a web developer who loves the challenge of taking many different pieces and putting them together into a cohesive, functional, and robust product. I work with teams of all sizes to build software for a wide range of organizations including startups, not-for-profits, and fortune 500 companies.</p>

  <p>As an Acquia certified Drupal Developer I have been building Drupal based software solutions for over ten years where I have learned many skills including agile based project management, Devops and build solutions, application architecting, third party service integration and full stack performance optimization.</p>

  <p>I have spent the last three years branched out to modern web application development using HTML, CSS and Javascript to build scalable front end applications using tools and frameworks including AngularJS, EmberJS and Node.js, SASS, Gulp, etc.</p>

</div>

<div class="cv__resume">

  <h3>Career History</h3>

  <div class="cv__resume__item">

    <h4>Software Engineer @ <a class="color--blue" href="http://www.acquia.com">Acquia</a></h4>

    <div>Sept 2015 - Present</div>

    <p>I joined Acquia as part of their Cloud UI Team building the next generation interface for their cloud services in AngularJS. During my time on this team I have spearheaded the initiative to implement flexible and robust charting using open source libraries integrated into our Angular pipeline and have participated in a number of sprints creating new features working towards public beta.</p>

  </div>

  <div class="cv__resume__item">

    <h4>Web Developer @ <a class="color--orange" href="http://www.myplanet.com">Myplanet</a></h4>

    <div>Nov 2011 - Sept 2015</div>

    <p>At Myplanet I have been responsible for leading and participating in the execution of large web and application development projects as part of an agile team.</p>

    <p>These projects have run the gamut of large scale Drupal sites, application prototyping in IOS, Backbone, and AngularJS, server side development in PHP and Node.js, front end user experience implementation in HTML, CSS and Javascript, API design, third party service integrations, and modern production ready AngularJS applications.</p>

    <p>The client base I have worked with has included Wyndham Worldwide, Centurylink, SpartanNash, and a bunch of fortune 500 companies I can't talk about ;)</p>

  </div>

  <div class="cv__resume__item">

    <h4>Web Developer @ <a class="color--green" href="http://www.freeform.ca">Freeform Solutions</a></h4>

    <div>Nov 2009 - Sept 2011</div>

    <p>Working on an agile team I was responsible for leading development on a number of large Drupal and CiviCRM projects for not-for-profit organizations. Coordinating with all parties to ensure successful customer happiness on limited budgets. I championed initiatives for introducing devops principles to the development teams to improve the developer experience and efficiency.</p>

  </div>

  <div class="cv__resume__item">

    <h4>Freelance Drupal Developer</h4>

    <div>Jun 2007 - Jun 2013</div>

    <p>As a freelance Drupal developer I have taken part in a variety of solo and team development projects. My focus has been working with Not-for-profit organizations and small businesses. Planning, architecting, design, theming, development, implementation, deployment, and training represent the wide range of services I have provided.</p>

  </div>

</div>

<div class="cv__education">

  <h3>Education</h3>

  <h4>University of Windsor</h4>

  <p>
    BSc, Computer Science<br/>
    2000 – 2005
  </p>

</div>

{{outlet}}