<div class="info-pane info-pane--drupal">

  <h3>Drupal is my jam</h3>

  <p>Ten years of experience, <a href="https://ca.linkedin.com/in/arvinsingla
" target="_BLANK">dozens of projects</a>, a handful of <a href="http://www.drupal.org/u/arvinsingla" target="_BLANK">open source modules</a>, and a few great presentations. I ♥ Drupal</p>

</div>

<div class="info-pane info-pane--javascript">

  <h3>Full time Javascript</h3>

  <p>I've spent the last 2 years building web applications with all the major frameworks including AngularJS, Ember.js, and Node.js</p>

</div>

<div class="info-pane info-pane--medium">

  <h3>Latest Medium post</h3>

  <p><a href="https://medium.com/@arvinsingla/apple-homekit-hacking-3d2902e7a1df" target="_BLANK">Apple HomeKit hacking</a>: DIY inside the walled garden</p>

  <p>I had a simple goal: turn the lights on and off in my house using my voice and finally live in the future Star Trek had promised me so many years ago.</p>

</div>