<div class="info-pane info-pane--drupal">

  <h3>Drupal is my jam</h3>

  <p>Ten years of experience, dozens of projects, a handful of <a href="http://www.drupal.org/u/arvinsingla" target="_BLANK">open source modules</a>, and many great memories. I ♥ Drupal</p>

</div>

<div class="info-pane info-pane--javascript">

  <h3>Javascript all the time</h3>

  <p>Two+ years experience building web applications with all the major frameworks including AngularJS, Ember.js, and Node.js</p>

</div>

<div class="info-pane info-pane--medium">

  <h3>My latest Medium post</h3>

  <p><a href="https://medium.com/@arvinsingla/apple-homekit-hacking-3d2902e7a1df" target="_BLANK">Apple HomeKit hacking</a>: DIY inside the walled garden</p>

  <p>I had a simple goal: turn the lights on and off in my house using my voice and finally live in the future Star Trek had promised me so many years ago.</p>

</div>