<div class="info-pane info-pane--drupal">

  <h3>Drupal is my jam</h3>

  <p>Over {{content.drupalYear}} years of experience, <a href="https://ca.linkedin.com/in/arvinsingla
" target="_BLANK">dozens of projects</a>, a handful of <a href="http://www.drupal.org/u/arvinsingla" target="_BLANK">open source modules</a>, and a few great presentations. I ♥ Drupal</p>

</div>

<div class="info-pane info-pane--javascript">

  <h3>Full time Javascript</h3>

  <p>I've spent the last {{content.javascriptYear}} years building scalable web applications with all the major frameworks including AngularJS, Ember.js, and Node.js</p>

</div>

<div class="info-pane info-pane--medium">

  <h3>Latest Medium post</h3>

  {{medium-articles showFirst=true}}

</div>